*{
    box-sizing: border-box;
    
}

body{
    margin:1px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navBar{
    background-color:rgba(255, 254, 242, .45);
    border:rgb(44, 43, 43) solid 2px;
    color:black;
    display:flex;
    position:sticky;
    align-items:center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 0 1rem;

}
.navBar ul{
padding:0;
margin:0;
list-style: none;


}

.navBar a{
    color:inherit;
    text-decoration: none;
    height:100%;
    display:flex;
    justify-content:end;
    padding: 2px;
    
}
.navBar li:hover {
    background-color:coral;
}

.siteName{
    font-family: 'Luckiest Guy', system-ui;
   font-size:25px;
}
