.gamecard img{
    border: .5px solid white;
    background:rgb(25, 61, 139);
    width:80%;
    display:block; 
}

.gamecard{
    position:relative;
   
}


/* image part of the card - dinosaur side */

.gamecard .dinoSide{
transform: rotateY(90deg);
position: absolute;
}

.cardRevealed .dinoSide{ 
    transform: rotateY(0deg);
}