

body{
  
  background:rgb(190, 95, 60);
  
}

.App h1{
  size: 20px;
  color:black;
  text-align:center;

}

.App {
  max-width:1000px;
  margin: 38px auto;
  display:block;
  text-align:center;
}

 button {
  background-color:rgba(123, 123, 123,10);
  border: 1.5px solid darkgrey;
  color:black;
  border-radius:4px;
  padding: 5px 11px;
  font-size:16px;
  font-weight:500;
  
}

button:hover{
  background:yellow;
  color:black;
  
}
