

body{
 
  background:rgb(142, 154, 146);
  
}

.App h1{
  size: 22px;
  color:black;
  text-align:center;

}

.App {
  
  margin: 38px auto;
  display:block;
  text-align:center;
}

 button {
  background-color:rgba(123, 123, 123,10);
  border: 1.5px solid darkgrey;
  color:black;
  border-radius:4px;
  padding: 5px 11px;
  font-size:18px;
  font-weight:500;
  margin-bottom: 30px;
  margin-top: 20px;
  
}

button:hover{
  background:yellow;
  color:black;
  
}

.gamecardLayout{
  margin-top:5px;
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  grid-gap:5px;
 
}

.attemptCtr{
  font-size:16.5px;
  margin-top: 15px;
}

