

body{
  background: rgb(191,34,195);
  background: radial-gradient(circle, rgba(191,34,195,1) 0%, rgba(76,45,253,1) 100%);
  
  
}

.App h1{
  size: 20px;
  color:white;
  text-align:center;

}

.App {
  max-width:1000px;
  margin: 38px auto;
  display:block;
  text-align:center;
}

 button {
  background-color:rgba(123, 123, 123,10);
  border: 1.5px solid darkgrey;
  color:black;
  border-radius:4px;
  padding: 5px 11px;
  font-size:16px;
  font-weight:500;
  
}

button:hover{
  background:yellow;
  color:black;
  
}
